.contact-info{
    font-size: 15px;
    padding: 0.1rem;
}
.container{
    height: 40px;
}
.fa-store{
    padding-left: 2rem;
}
.logo{
   display: flex;
  position: absolute;
  left:35%;
  width: 10rem;
  height: 12rem;
  margin: 1rem;
}
