.contact-info{
    font-size: 15px;
    padding: 0.1rem;
}
.container{
    height: 40px;
}
.fa-store{
    padding-left: 2rem;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    height: 3rem;
    margin: 1rem;
}